#score {
  display: inline-block;
}

div {
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
}

.outerDiv {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  margin: 200px auto;
  padding: 20px;
  width: 60%;
}

.logo {
  height: 100px;
  margin-bottom: 50px;
}